<table class="w-full">
  <tr>
    <td class="w-full bg-[#ffffff] pt-[30px] px-[20px] pb-[17px]">
      <table class="w-full align-center-table bg-[#ffffff]">
        <tr>
          <td class="text-[12px] leading-[18px] text-[#000000] text-left font-bold pb-[15px]">Ut enim ad minim:</td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[18px] text-[#000000] text-left font-normal pb-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[18px] text-[#000000] text-left font-normal pb-[15px]">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[18px] text-[#000000] text-left font-bold pb-[15px] pt-[10px]">Sint occaecat cupidatat:</td>
        </tr>

        <tr>
          <td class="w-full pb-[20px]">
            <table class="w-full align-center-table bg-[#ffffff]">
              <tr>
                <td class="w-[3%] text-[12px] align-top leading-[18px] text-[#000000] text-center">
                  1.
                </td>
                <td class="w-[1%] text-[12px] leading-[18px] text-[#000000] text-left">
                </td>
                <td class="w-[96%] text-[12px] leading-[18px] text-[#000000] text-left">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
              </tr>
              <tr>
                <td class="w-[3%] text-[12px] align-top leading-[18px] text-[#000000] text-center">
                  2.
                </td>
                <td class="w-[1%] text-[12px] leading-[18px] text-[#000000] text-left">
                </td>
                <td class="w-[96%] text-[12px] leading-[18px] text-[#000000] text-left">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="h-[1px] bg-[#002B2B]"></td>
        </tr>
        <tr>
          <td class="text-[12px] leading-[18px] text-[#000000] text-center font-normal pt-[20px] pb-[15px]">Sed do eiusmod tempor incididunt ut labore</td>
        </tr>
        <tr>
          <td class="text-center font-normal pb-[15px]"> 
            <x-image class="w-[100px] max-w-[100px]" alt="footer_logo" imgUrl="image-2.png"/></td>
        </tr>

      </table>
    </td>
  </tr>
</table>
