<table class="w-full">
  <tr>
    <td>
      <table class="w-full align-center-table">
        <tr>
          <td>
            <x-image
              class="w-[600px]" alt="banner_img"
              imgUrl="image-3.png"
            />
          </td>
        </tr>
        <tr>
          <td class="px-[20px]">
            <table class="w-full align-center-table">
              <tr>
                <td class="text-[#005555] text-[24px] leading-[29px] pt-[25px] text-center font-bold">
                  Excepteur sint occaecat cupidatat 
                </td>
              </tr>
              <tr>
                <td class="text-[#444444] text-[16px] leading-[21px] pt-[25px] text-center">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </td>
              </tr>
              <tr>
                <td class="pt-[25px] text-center pb-[30px]">
                  <x-button width="350" height="40" leading="24" padding="8px 20px" rounded="10"  bgColor="#008080" href="#" class="font-bold text-white text-[20px] xs:w-full">Ut enim ad minim veniam</x-button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
