<table class="w-full">
  <tr>
    <td class="w-full bg-[#F0F5F5] py-[30px]">
      <table class="w-full align-center-table bg-[#F0F5F5]">
        <tr>
          <td class="w-full align-center-table px-[20px]">
            <table class="w-full align-center-table">
              <tr>
                <td class="text-[24px] leading-[28px] text-[#005555] text-center font-bold pb-[30px]">Sint cupidatat occaecat ut</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="w-full align-center-table px-[20px] pb-[10px]">
            <table class="w-full align-center-table bg-[#ffffff]">
              <tr>
                <td class="w-full">
                  <table class="w-full align-center-table bg-[#ffffff]">
                    <tr>
                      <td class="xs:w-full xs:block w-[48%] p-[25px] align-center-table">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image class="w-[100px] max-w-[100px] pointer-events-none" alt="round_img" imgUrl="image-6.png"/>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-[20px] leading-[23px] text-[#005555] text-center font-bold py-[15px]">Nisi ut ade</td>
                          </tr>
                          <tr>
                            <td class="text-[16px] leading-[21px] text-[#444444] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px] text-[#444444]">1</span></td>
                          </tr>
                        </table>
                      </td>
                      <td class="xs:w-full xs:block w-[4%] h-[20px] xs:h-[35px] bg-[#F0F5F5]"></td>
                      <td class="xs:w-full xs:block w-[48%] p-[25px] align-center-table">
                        <table class="w-full align-center-table">
                          <tr>
                            <td class="text-center">
                              <x-image class="w-[100px] max-w-[100px] pointer-events-none" alt="round_img" imgUrl="image-6.png"/>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-[20px] leading-[23px] text-[#005555] text-center font-bold py-[15px]">Duis aute irure</td>
                          </tr>
                          <tr>
                            <td class="text-[16px] leading-[21px] text-[#444444] text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px] text-[#444444]">1</span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
